.side_menu .menu_container {
    position: absolute;
    width: 200px;
    background-color: #4F5D65;
    height: 100vh;
    -webkit-box-shadow: 2px 20px 40px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 20px 40px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 20px 40px 0px rgba(0,0,0,0.5);
    top: 50px;
}

.side_menu .open {
    left: 0;
    transition: left 1s;
}

.side_menu .close {
    left: -220px;
    transition: left 1s;
}