.side_menu .menu_container {
    position: absolute;
    width: 200px;
    background-color: #4F5D65;
    height: 100vh;
    -webkit-box-shadow: 2px 20px 40px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 20px 40px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 20px 40px 0px rgba(0,0,0,0.5);
    top: 50px;
    padding: 0 20px;
}

.side_menu .open {
    left: 0;
    transition: left 1s;
}

.side_menu .close {
    left: -240px;
    transition: left 1s;
}

.burger_menu_container {
    width: 50px;
    margin: 10px 0px 0px 10px;
}

.burger_menu_container div {
    width: 100%;
    height: 2px;
    background-color:#f3f2f0;
    margin: 8px 0px;
}

.burger_menu_container.open .burger_top {
    transform: rotate(45deg);
    position: relative;
    top: 13px;
    transition: all 0.5s;
}

.burger_menu_container.close .burger_top {
    transition: all 0.5s;
}
.burger_menu_container.open .burger_mid {
    opacity: 0;
}

.burger_menu_container.open .burger_bot {
    transform: rotate(-45deg);
    position: relative;
    bottom: 7px;
    transition: all 0.5s;
}

.burger_menu_container.close .burger_bot {
    transition: all 0.5s;
}
